# shellcheck shell=bash

# If we are a computer with nix available, then use that to setup
# the build environment with exactly what we need.
if has nix; then
  # Use nix flakes to setup the environment
  export CACHIX_AUTH_TOKEN=\${CACHIX_AUTH_TOKEN:-}
  use flake . --accept-flake-config --no-pure-eval
fi
